<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-lg border-0 rounded-lg">
      <div class="card-header bg-dark text-white text-center">
        <h3 class="fw-light my-4">Sala de Juegos</h3>
      </div>
      <div class="card-body p-4 p-sm-5">

        <form (ngSubmit)="handleLogin()">
          <h5 class="card-title text-center mb-4">Iniciar Sesión</h5>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com" [(ngModel)]="email" name="email" required>
            <label for="floatingInput">Correo Electrónico</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
            <label for="floatingPassword">Contraseña</label>
          </div>

          <div *ngIf="mensajeError" class="alert alert-danger text-center p-2 mb-3">
            {{ mensajeError }}
          </div>

          <div class="d-grid">
            <button class="btn btn-primary btn-lg" type="submit">Ingresar</button>
          </div>
        </form>

        <hr class="my-4">

        <div class="text-center">
          <h6 class="mb-3">O ingresa con un usuario de prueba:</h6>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="btn btn-outline-info" (click)="accesoRapido('admin')">Admin</button>
            <button class="btn btn-outline-success" (click)="accesoRapido('jugador')">Jugador</button>
            <button class="btn btn-outline-warning" (click)="accesoRapido('invitado')">Invitado</button>
          </div>
        </div>
      </div>
      <div class="card-footer text-center py-3">
        <div class="small">
          <button [routerLink]="['/registro']" class="btn btn-link">
            ¿No tienes cuenta? ¡Regístrate!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>